API_KEY=cfut_iXlztMFczDcT5MGUu4nszyJYZX6VbmQGVpw55RMwd103b927
ALLOWED_ORIGINS=https://agnawak.com,https://app.agnawak.com
APP_USERNAME=admin
APP_PASSWORD=change-me
POSTGRES_DB=fixturedb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/fixturedb
